$accentColor: #303030;
$accentBrownDark: #4a3434;
$accentBrownLight: #7d5757;
$accentGrayDark: #7d7d7d;
$accentGrayLight: #c9c9c9;

$textColorLight: white;

$fontTitle: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
  Geneva, Verdana, sans-serif;
